# --- Core para Ciência de Dados e Análise ---
pandas
numpy
scipy
scikit-learn

# --- Visualização de Dados ---
matplotlib
seaborn
plotly

# --- Desenvolvimento Web: Flask e Extensões ---
Flask
Flask-WTF
Flask-Login
Flask-RESTful
Flask-Session
Flask-Mail
Flask-OAuthlib
Flask-Caching
Flask-Babel
Flask-Uploads
flask-restplus
Flask-JWT
Flask-FlatPages
Markdown

# --- Desenvolvimento Web: Django ---
Django
djangorestframework

# --- Banco de Dados ---
mysql-connector-python
SQLAlchemy
psycopg2-binary
pymongo
pyodbc

# --- Manipulação de Imagens e OCR ---
Pillow
rembg
pytesseract

# --- APIs e Requisições Web ---
requests
google-cloud-speech
googletrans
yfinance
beautifulsoup4

# --- Geração de Códigos e Documentos ---
qrcode
python-barcode
fpdf

# --- Utilitários e Outros ---
cryptography
pytubefix
PyPDF2